<p-panel header="Modulo Modulación"  class="body-content">
    <!-- <button pButton type="button" class="btn btn-success" label="Generar Nueva Modulacion" (click)="newFile()"></button> -->
    <p-divider></p-divider>
    <p-tabView [(activeIndex)]="activeIndex">
        <p-tabPanel header="Selección de Archivos" class="body-content">
            @if (activeIndex === 0) {
                <app-list-load-modulation
                ></app-list-load-modulation>
            }
        </p-tabPanel>
        <p-tabPanel header="Modulación Carga y Descarga">
            @if (activeIndex === 1) {
                <app-list-modulation></app-list-modulation>
            }

        </p-tabPanel>
        <p-tabPanel header="Generación Proceso Cartas">
            @if (activeIndex === 2) {
                @defer{
                    <app-list-process-component>
                    </app-list-process-component>
                }
            }
        </p-tabPanel>
        <p-tabPanel header="Generación Modulación JPL">
            @if (activeIndex === 3) {
                @defer{
                    <app-listjpl-component>
                    </app-listjpl-component>
                }
            }
        </p-tabPanel>
    </p-tabView>
</p-panel>
