* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: $scale;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    // // background-color: var(--surface-ground-white);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    height: 100%;
    // margin: 0;
    // font-family: Arial, sans-serif;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    background: url("/assets/img/fondo.png") no-repeat center center fixed;
    background-size: cover;
}

a {
    text-decoration: none;
    color: #3b5a75d4;
    // color: var(--primary-color);3b5a75d4
}

.layout-wrapper {
    min-height: 100vh;
}
