<p-panel header="Módulo Roles" class="body-content">
    <p-messages [(value)]="messages" [closable]="true"></p-messages>
    <p-divider></p-divider>
    <button *appPermissions="'create_role'" pButton type="button" class="btn btn-success" label="Crear Nuevo Rol" (click)="newRol()"></button>
    <p-divider></p-divider>
    <p-table
            #dt1
            [value]="roles"
            dataKey="id"
            [rows]="10"
            [rowHover]="true"
            styleClass="p-datatable-gridlines"
            [paginator]="true"
            [globalFilterFields]="['name']"
            responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                <div class="flex">
                    <button pButton label="Limpiar" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Texto de Busqueda" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-role>
                <tr>
                    <td>{{ role.name }}</td>
                    <td>{{ role.description }}</td>
                    <td>
                        <button *appPermissions="'modify_role'" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2" (click)="openEditRoleDialog(role)" pTooltip="Editar rol"></button>
                        <button *appPermissions="'delete_user'" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2" (click)="deleteRole(role)" pTooltip="Eliminar rol"></button>
                        <button *appPermissions="'assign_modules'" pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-secondary mr-2" (click)="openModuleDialog(role)" pTooltip="Asignar módulos"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
</p-panel>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
@if (showRoleDialog) {
    <p-dialog
        [(visible)]="showRoleDialog"
        [style]="{width: '600px'}"
        [position]="'right'"
        [modal]="true"
        class="p-fluid"
    >
        <ng-template pTemplate="header">
            <div class="inline-flex align-items-center justify-content-center gap-2">
                <span class="font-bold white-space-nowrap">
                    {{ selectedRole ? 'Modificar Rol' : 'Agregar Rol' }}
                </span>
            </div>
        </ng-template>
        <app-create-rol
            [rolSelected]="selectedRole"
            (emitterCloseModal)="handleDialogClose($event)"
        ></app-create-rol>
    </p-dialog>
}

@if (showModuleDialog) {
    <p-dialog
        [(visible)]="showModuleDialog"
        [style]="{width: '600px'}"
        [position]="'right'"
        [modal]="true"
        class="p-fluid"
    >
        <ng-template pTemplate="header">
            <div class="inline-flex align-items-center justify-content-center gap-2">
                <span class="font-bold white-space-nowrap">Modificación de Módulos Asociados</span>
            </div>
        </ng-template>
        <app-module
            [rolSelected]="selectedRole"
            [listModules]="modules"
            (emitterCloseModal)="handleDialogClose($event)"
        ></app-module>
    </p-dialog>
}
