<p-panel header="Modulo Denuncios"  class="body-content">
    <!-- <button pButton type="button" class="btn btn-success" label="Generar Nueva Modulacion" (click)="newFile()"></button> -->
    <p-divider></p-divider>
    <p-tabView [(activeIndex)]="activeIndex">
        <p-tabPanel *appPermissions="'create_complaints'" header="Generación Denuncia" class="body-content">
            <app-generation-transfer-component></app-generation-transfer-component>
        </p-tabPanel>
        <p-tabPanel *appPermissions="'pending_complaints'" header="Denuncios Pendientes Recepción">
            <app-pending-transfer-component></app-pending-transfer-component>
        </p-tabPanel>
        <p-tabPanel *appPermissions="'received_complaints'" header="Denuncios Recepcionados">
            <app-completed-transfer-component></app-completed-transfer-component>
        </p-tabPanel>
    </p-tabView>
</p-panel>
