<p-panel header="Modulo Carga de Archivos"  class="body-content">
    <!-- <p-fileUpload name="file" url="http://localhost:3000/upload" (onUpload)="onUpload($event)" (onBeforeSend)="onBeforeSend($event)" (onError)="onError($event)" (onRemove)="onRemove($event)" [auto]="true" [maxFileSize]="1000000" [accept]="'.csv'"></p-fileUpload> -->
    <!-- <p-progressBar [value]="progress" showValue="false"></p-progressBar> -->
    <!-- <p-messages [value]="msgs"></p-messages> -->
    <button *appPermissions="'load_file_upload'" pButton type="button" class="btn btn-success" label="Cargar Archivo" (click)="newFile()"></button>
    <p-divider></p-divider>
    @defer{
        <p-table
            #dt1
            [value]="files"
            dataKey="id"
            [paginator]="true"
            [rows]="10"
            [responsive]="true"
            [globalFilterFields]="['numero', 'nombre']"
        >
            <ng-template pTemplate="caption">
            <div class="flex">
                <p-iconField iconPosition="left" class="ml-auto">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input
                        pInputText
                        type="text"
                        (input)="dt1.filterGlobal($event.target.value, 'contains')"
                        placeholder="Search keyword" />
                </p-iconField>
            </div>
        </ng-template>
            <ng-template pTemplate="header">
            <tr>
                <th>Nombre</th>
                <th>Numero</th>
                <th>Fecha Carga</th>
                <th>Cantidad Informadas</th>
                <th>Autopista</th>
                <th>Estado</th>
                <!-- <th>Acciones</th> -->
            </tr>
            </ng-template>
            <ng-template pTemplate="body" let-file>
            <tr>
                <td>{{file.nombre}}</td>
                <td>{{file.numero}}</td>
                <td>{{file.fecha | date:"dd/MM/Y"}}</td>
                <td>{{file.cant_informadas | thousandSeparator}}</td>
                <td>{{file.higway.nombre}}</td>
                <td>{{file.estado | statusloadfilepipe}}</td>
                <!-- <td>
                    <button pButton type="button" icon="pi pi-times" (click)="editFile(file)"></button>
                </td> -->
            </tr>
            </ng-template>
        </p-table>
    }
</p-panel>

@if (showLoad) {
    @defer{
        <p-dialog header="Header" [(visible)]="showLoad" [style]="{width: '1000px'}" [position]="'right'" [modal]="true" class="p-fluid">
            <ng-template pTemplate="header">
                <div class="inline-flex align-items-center justify-content-center gap-2">
                    <span class="font-bold white-space-nowrap">
                        @if (fileSelected) {
                            Nuevo Archivo
                        }@else {
                            Editar Archivo
                        }
                    </span>
                </div>
            </ng-template>
            <app-newloadfile
                [data]="fileSelected"
            ></app-newloadfile>
        </p-dialog>

        }
}
