<p-table
    #dt1
    [value]="listPending"
    dataKey="id"
    [paginator]="true"
    [rows]="10"
    [loading]="loading"
>
    <ng-template pTemplate="header">
    <tr>
        <th>N° Memo</th>
        <th>Fecha Denuncio</th>
        <th>Personal Envio</th>
        <th>Cantidad Infracciones</th>
        <th>Documento</th>
    </tr>
    </ng-template>
    <ng-template pTemplate="body" let-list>
    <tr>
        <td>{{list.numero_memo}}</td>
        <td>{{ list.fecha_traspaso | date: "dd/MM/Y" }}</td>
        <td>{{ list.usuario }} {{ list.usuario_apellido}}</td>
        <td>{{ list.cantidad_infracciones | thousandSeparator}}</td>
        <td>
            <button
                pButton
                pRipple
                icon="pi pi-file-pdf"
                class="p-button-rounded p-button-danger mr-2"
                pTooltip="Documentos"
                tooltipPosition="top"
                (click)="downloadDocument(list.id)">
            </button>
            <button
                pButton
                pRipple
                icon="pi pi-check"
                class="p-button-rounded p-button-success"
                pTooltip="Recepcionar Denuncio"
                tooltipPosition="top"
                (click)="reception(list)">
            </button>
        </td>
    </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="6">No existen denuncios pendientes disponibles.</td>
        </tr>
    </ng-template>
</p-table>

@if(receptionDialog){
    <p-dialog header="Recepción Denuncio" [modal]="true" [style]="{width: '600px',heigth:'600px'}" [position]="'right'" [(visible)]="receptionDialog">

        <form [formGroup]="form"
            (ngSubmit)="consult()"
            autocomplete="off">
            <div class="card p-fluid col col-12">
                <div class="p-formgrid grid">
                    <p-messages
                        [(value)]="messages"
                        [enableService]="false"
                        [closable]="false"
                        class="m-2"/>
                </div>
                <div class="p-formgrid grid">
                    <div class="field col">
                        <label class="mr-2">Ingrese Fecha de Recepción</label>
                        <p-calendar
                        formControlName="dateReception"
                        [showIcon]="true"
                        [showOnFocus]="false"
                        [inline]="true"
                        inputId="buttondisplay" />
                    </div>
                </div>

            </div>
            <p-messages [(value)]="messagesform" [closable]="true" ></p-messages>
            <p-divider></p-divider>
            <div>
                <button
                    type="submit"
                    pButton
                    pRipple
                    label="Recepcionar"
                    class="p-button-rounded mr-2 mb-2"
                ></button>
            </div>
        </form>

    </p-dialog>

}
